{
  "presets": [
    [
      "@babel/preset-typescript"
    ],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "patronum/babel-preset",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "factories": [
          "src/lib/presets",
          "src/lib/helpers",
          "src/lib/create-field",
          "src/lib/create-fieldset"
        ]
      }
    ]
  ]
}
