{
  "extends": [
    "@eslint-kit/base",
    "@eslint-kit/prettier",
    "@eslint-kit/react",
    "@eslint-kit/typescript",
    "plugin:sonarjs/recommended"
  ],
  "plugins": ["@typescript-eslint/eslint-plugin", "react", "unicorn", "sonarjs"],
  "overrides": [
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "env": { "jest": true },
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/eslint-plugin/recommended",
        "plugin:@typescript-eslint/eslint-plugin/eslint-recommended"
      ],
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    },
    {
      "files": [".eslintrc", "*.config.js", "scripts/**/*.js"],
      "env": { "node": true }
    }
  ],
  "rules": {
    "import/extensions": ["off", "ignorePackages", "error"],
    "@typescript-eslint/no-use-before-define": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx"]
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "no-use-before-define": "off",
    "react/jsx-wrap-multilines": "off"
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/extensions": [".ts", ".tsx"],
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx", ".js", ".jsx"],
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
